{{> base-top
  title='main page'
  lang="EN"
  custom-style=""
}}
{{> header}}
<main>
  <h1>Landing Page</h1>
  <div class="box">
    <img src="{{image 'bg.png'}}" alt="image" />
  </div>
  <div class="init-slick">
    <div>
      <h3>1</h3>
    </div>
    <div>
      <h3>2</h3>
    </div>
    <div>
      <h3>3</h3>
    </div>
    <div>
      <h3>4</h3>
    </div>
    <div>
      <h3>5</h3>
    </div>
    <div>
      <h3>6</h3>
    </div>
  </div>
</main>
{{> footer}}
{{> base-bottom}}