<!doctype html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    {{!-- <link rel="stylesheet" href="{{custom-style}}"> --}}
</head>